<h1>ようこそ！</h1>
<ul class="media-list">
<% @products.each do |product| %>
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= product.image %>" alt="<%= product.name %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= product.name %> <span>商品No:<%= product.id %></span></h4>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price) %></p>
      <%= button_to('カートに追加', cart_items_path(product_id: product), remote: true, data:{confirm: "#{product.name}を追加します"}, class: 'btn btn-primary') %>
    </div>
  </li>
<% end %>
</ul>

<%= paginate @products %>
